<ion-header >
    <ion-toolbar>
      <ion-buttons slot = "start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Explore
      </ion-title>
    </ion-toolbar> 
  </ion-header>
  
  <ion-content padding >
      <ion-card padding >
          <ion-card-header>
            <ion-card-title>Product #1</ion-card-title>
            <ion-card-subtitle>$X.XX</ion-card-subtitle>
            <img src="assets/img/product.png">
          </ion-card-header>
          <ion-button padding fill="outline" float-right 
          href='/product-info' >More Info</ion-button>
        </ion-card>

  </ion-content>
  