<ion-header >
    <ion-toolbar>
      <ion-buttons slot = "start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Explore
      </ion-title>
    </ion-toolbar> 
  </ion-header>

  <ion-menu contentId = "content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
   
    <ion-router-outlet id = "content" main></ion-router-outlet>
  
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide = "false" *ngFor = "let p of pages">
          <ion-item [routerLink] = "p.url" routerDirection = "root" [class.active-item] = "selectedPath === p.url">
            {{ p.title }}
          </ion-item>
  
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-content padding >
      <ion-card padding >
          <ion-card-header>
            <ion-card-title>Product #1</ion-card-title>
            <ion-card-subtitle>$X.XX</ion-card-subtitle>
            <img src="assets/img/product.png">
          </ion-card-header>
          <ion-button padding fill="outline" float-right 
          href='/product-info' >More Info</ion-button>
        </ion-card>

  </ion-content>
  