<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Cart
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <div class="card_content">
                <ion-thumbnail slot="start">
                    <ion-img src='https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-1/135/_Canister_Egg-256.png'></ion-img>
                </ion-thumbnail>
                <div>
                    <ion-label>Price</ion-label>
                </div>

            </div>

        </ion-card-content>
    </ion-card>
</ion-content>